ng-container{
    width: 100%;
}

mat-card{
    margin: auto;
    display: block;
    justify-content: center;
    width: fit-content;
}
.text-center{
    text-align: center;
}
._card{
    padding: 40px;
    font-size: 20px;
    width: 100%;
    height: 100%;
}

._card h1{
    font-weight: bold;
    font-size: 40px;
    letter-spacing: 2px;
    color: rgb(37, 150, 190);
    margin: 50px auto;
}

.signup_form{
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid red !important; */
}
.signup_form form{
  
    width: 60%;
}
/* .form{
    width: 70%;
    border: 1px solid red !important;
} */
.mat-form-field{
    width: 100%;
}

input.mat-input-element {
    font-size: 22px;
}

.submit-btn{
    width: 100%;
    padding: 10px 10px ;
    font-size: 20px;
    border-radius: 5px;
    letter-spacing: 2px;
    font-weight: bold;
    color: rgb(37, 150, 190);
    border: 2px solid #1e4b74;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;;
}
.submit-btn:hover{
    background-color: rgb(30,75,116);
    color: #fff;
}